* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    min-height: 100%;
}


a {
    text-decoration: none;
    color: $dark-grey-2;
}

h1 {
    font-family: paralucent, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: $dark-grey-2;
}

h2 {
    font-family: paralucent, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    color: $dark-grey-2;
    &.strapline {
        font-family: letter-gothic-std, monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
        color: $dark-grey-2;
    }

}

h3 {
    font-family: paralucent, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    &.strapline {
        font-family: letter-gothic-std, monospace;
        font-weight: 700;
        font-style: normal;
        font-size: 1.25rem;
    }
}

.strapline {
    font-family: letter-gothic-std, monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}

p, span, li, input, textarea, label {
    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .035rem;
    line-height: 1.4rem;
    strong {
        font-weight: 500;
        font-style: normal;
    }
}

.btn {
    background-color: $primary-colour;
    color: $white;
    font-family: paralucent, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: .25s ease all;
    &:hover {
        background-color: $secondary-colour;
    }
}

.whole-page {
    // display: flex;
    // flex-direction: column;
    min-height: 100%;
    position:absolute;
    top: 0;
    align-content: stretch;
}

.container {
    width: 100%;
    margin: 0 auto;
    @include media-md {
        width: calc(100% - 80px);
        margin-left: 80px;
        margin-right: auto;
    }
}

.inner {
    @include push--auto;
    @include media-md {
        min-width: 590px;
        max-width: 800px;
    }
    @include media-lg {
        min-width: 800px;
    }
    @include media-xl {
        min-width: 1020px;
    }
    @include media-xxl {
        max-width: 1200px;
    }
}

.contact-field {
    background-color: $white;
    border: 1px solid $dark-grey-2;
    border-radius: 4px;
    width: 100%;
    padding: 5px 12px;
    color: $dark-grey;
    &:not(.message) {
        height: 50px;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 2px 2px rgba(239,123,27,.1);
        border: 1px solid $primary-colour;
        ~ label {
            color: $primary-colour;
        }
    }
    &.message {
        padding-top: 10px;
    }
}

label {
    font-size: .75rem;
    &.required::after {
        content: "*";
        color: $primary-colour;
    }
}

/* form autofill styles */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $dark-grey;
  box-shadow: 0 0 0px 1000px $white inset;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: background-color 5000s ease-in-out 0s;
}