.hero.container {
    height: calc(100vh - 90px);
    position: relative;
    @include media-md {
        height: 100vh;
    }
}

/* Animated gradient background, positioned with z-index */

.grad-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include gradient-anim;
    mix-blend-mode: multiply;
    opacity: .65;
    z-index: 2;
    @include media-ie {
        opacity: .2;
    }

}

/* internal hero container, with bg image */

.hero-inner {
    height: calc(100vh - 90px);
    position: relative;
    text-align: center;
    display: block;
    background: url(../resources/img/IMG_1940-min.jpg);
    background-size: cover;
    @include media-md {
        height: 100vh;
    }
}

.hero-content {
    @include centred;
    width: 95%;
    color: $primary-colour;
    z-index: 3;
    h1, h2 {
        text-shadow: 1px 1px 3px rgba(0,0,0,1);
    }
    h1 {
        @include media-lg {
            font-size: 4rem;
        }
    }
    h2 {
        @include media-lg {
            font-size: 2.5rem;
        }
    }
}

.scroll-down {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.scroll {
    color: $primary-colour;
    &:hover p, &:hover i {
        color: $white;
    }
    &:hover i {
        @include fade-in;
    }
    p, i {
        margin-bottom: 10px;
        text-shadow: 1px 1px 3px rgba(0,0,0,1);
        transition: 150ms;
    }
}


