.projects-section.container {
    display: flex;
    justify-content: center;
}

.projects-inner {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    @include media-md {
        flex: 1 45%;
    }
}

.project {
    position: relative;
    padding-top: 40px;
    h2 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.6rem;
        transition: 250ms;
        color: $primary-colour;
    }
    h3 {
        margin: 0;
        font-size: 1.2rem;
        transition: 250ms;
        color: $primary-colour;
    }
    i {
        opacity: 0;
    }
    &:hover {
        h2, h3 {
            color: $primary-colour;
            text-shadow: 0 0 3px $primary-colour;
        }
        i {
                -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        
        }
    }
    .project-image-contain {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .project-links {
        position: absolute;
        bottom: 5px;
        left: 0px;
        padding: 10px 20px;
    }
}
