.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    background-color: $white;
    border-right: 1px solid $primary-colour;
    box-shadow: 3px 0 3px rgba(239,123,27,.1);
    overflow-x: hidden;
    display: none;
    @include media-md {
        display: block;
        left: 0;
    }
  }

  .sidebar {
      .nav-link, .contact-link {
        padding: 12px 16px 12px 16px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: .9rem;
        display: block;
        text-align: center;
        position: relative;
    }
    .nav-link {
        color: $dark-grey-2;
        &:hover {
            color: $primary-colour;
        }
    }
    .contact-link {
        &:hover {
            color: $white;
        }
    }
  }

  .sidebar-logo {
    // margin-bottom: 15px;
    // margin-top: 0;
    svg {
        width: 100%;
        padding: 0 16px 16px 16px;
        height: 159px;
        * {
            transition: 0.3s ease all;
            transform-origin: center center;
        }
    }
    &:hover {
        #Crossbar {
            animation: crossbar-anim .3s;
        }
        #P_Bowl {
            animation: p-bowl-anim .3s;
        }
        #A_Foot {
            animation: a-foot-anim .3s;
        }
        #Stem {
            animation: stem-anim .3s;
        }
        .st1 {
            animation: scale-logo .3s;
            animation-delay: .35s;
        }
        .st0 {
            fill: $secondary-colour;
        }
        
    }
}

.link-container {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
}

/* sizes and styles the underline */

.link-container .underline::after {
    top: 100%;
    height: 2px;
    width: 0%;
    left: 5%;
    background-color: $primary-colour;
      transition: .3s ease all;
  }
  
  .link-container:hover .underline::after {
    width: 90%;
    transition: 0.3s ease all;
  }

/* container for the contact nav button */

.contact-container {
padding: 12px 16px 12px 16px;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: .9rem;
color: $dark-grey-2;
display: block;
text-align: center;
position: relative;
&:hover {
    color: $white;
}
}

.contact-container  {
padding: 0;
position: relative;
display: block;
width: 100%;
text-align: center;
cursor: pointer;
color: $white;
border-top: 2px solid $primary-colour;
border-bottom: 2px solid $primary-colour;
margin: 20px 0;
.underline::after {
    top: 0;
    height: 100%;
    width: 0%;
    left: 0%;
    background-color: $primary-colour;
        transition: .3s ease all;
}
&:hover .underline::after {
    color: $white;
    width: 100%;
    transition: 0.3s ease all;
    z-index: -1;
    }
}



.social-links {
    display: flex;
    color: $primary-colour;
    padding: 0 15px;
    font-size: 1.4rem;
    justify-content: space-between;
    a {
        color: $primary-colour;
    }
    .social {
        padding-top: 15px;
        padding-bottom: 15px;
        &:hover {
            transform: scale(1.4);
            a {
            color: $secondary-colour;
            }
        }
    }
}

//Mobile sidebar styles

.close button {
    display: none;
    i {
        position: relative;
    }
}

#sidebar.shown {
    display: block;
    left: 0;
    width: 60%;
    z-index: 1000;
    nav ul li a{
        font-size: 1.25rem;
        padding: 16px 20px 16px 20px;
    }
    #socials {
        .social {
            width: 25%;
            text-align: center;
            padding-top: 15px;
        }
    }
    .close button {
        display: block;
        margin-left: auto;
        margin-right: 15px;
        margin-top: 15px;
        padding: 15px;
        font-size: 2rem;
        color: $secondary-colour;
        z-index: 1;
        background-color: $white;
        border: none;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            color: $primary-colour;
        }
    }
}

#sidebar .sidebar-logo {
    @media screen and (max-width: $md-width) {
        position: relative;
        svg {
            height: 120px;
        padding-bottom: 0;
        }
    }
}


.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
    opacity: 0;
}

.overlay.shown {
    display: block;
}