$white: #fff;
$black: #000;
$light-grey: #eee;
$light-grey-2: #ddd;
$dark-grey: #505050 ;
$dark-grey-2: #3e3e3e;

$primary-colour: rgb(239,123,27);
$primary-tint-1: rgb(243,146,53);
$primary-tint-2: rgb(247,168,80);
$primary-tint-3: rgb(250,189,107);

$secondary-color: rgb(33,36,74);
$secondary-tint-1: rgb(52,50,95);
$secondary-tint-2: rgb(72,69,121);
$secondary-tint-3: rgb(95,93,152);