@import "variables";
@import "mixins";
@import "basic";
@import "sidebar";
@import "header";
@import "keyframes";



.scion-hero.container {
    background-color: #DFDBE5;
    background-image: linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(33,36,74,1) 40%, rgba(16,18,38,1) 100%);
}

.scion-hero.inner {
    @include push--auto;
    width: 100%;
    position: relative;

}

.scion-hero-image {
    text-align: center;
    height: 200px;
    img {
        @include centred;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.scion-text {
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    h1, h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .inner {
        &:not(.scion-heading) {
            @include media-xl {
            column-count: 2;
            column-gap: 35px;
        }
    }
    }
    h1 {
        font-size: 3rem;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    h2 {
        &:first-of-type {
            margin: 0;
        }
    }
    a {
        color: $primary-colour;
        text-decoration: underline;
        &:hover, &:visited, &:focus {
            color: $secondary-colour;
        }
    }
    ul {
        list-style: none;
        li::before {
            @include generate-fontawesome-icon("\f105")
            color: $primary-colour;
            display: inline-block;
            width: 1rem;
            margin-left: -2.5rem;
        }
    }
}